*{
    margin: 0;
    padding: 0;
}

.navbar{
    height: 200px;
    width: 100%;
    background: rgba(0,0,0,0.4);
}

.navbar ul{
    float: right;
}

.navbar ul li{
    list-style: none;
    margin: 60px 30px;
    display: inline-block;
    line-height: 80px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 6px 13px;
    transition: .4s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    background: red;
    opacity: 0.7;
    border-radius: 5px;
}

.logo{
    height: auto;
    width: 140px;
    padding: 20px 100px;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(../Image/allergen_icons.jpg); 
    background-size: cover;
    background-position: top;
    font-family: sans-serif;

}

footer h3{
    text-align: center;
    font-weight: bold;
}

body .lesforms{
    width: 100%;
    text-align: right;
}

.navbarfooter ul li{
    list-style: none;
    text-align: center;
    font-weight: bold;
}

.navbarfooter #contact_urgence{
    font-size: 20px;
}

.navbarfooter ul li a{
    color: white;
    text-decoration: none;
}

footer p{
    text-align: center;
}

.navbarfooter{
    position: relative;
    position: absolute;
    bottom: -200%;
    height: 200px;
    width: 100%;
    background: rgba(0,0,0,0.4);
}

body h2{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');


.crumbs {
	text-align: left;
}
.crumbs ul {
	list-style: none;
	display: inline-block;
}

.crumbs ul li {
	display: inline;
}

.crumbs ul li a {
	display: block;
	float: left;
	height: 40px;
	background: #ecf0f1;
	text-align: center;
	position: relative;
	padding: 30px 20px 0 60px;
	margin: 0 10px 0 0;
	font-size: 20px;
	text-decoration: none;
	color: #2c3e50;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.crumbs ul li a::after {
	content: '';
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 40px solid #ecf0f1;
	position: absolute;
	right: -39px;
	top: 0;
	z-index: 1;
}

.crumbs ul li a::before {
	content: '';
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 40px solid #fff;
	position: absolute;
	left: 0;
	top: 0;
}

.crumbs ul li:first-child a {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.crumbs ul li:first-child a::before {
	display: none;
}

.crumbs ul li:last-child a {
	padding-right: 40px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background: red;
	color: #fff;
}

.crumbs ul li:last-child a::after {
	display: none;
}

.crumbs ul li a:hover {
	background: #2c3e50;
	color: #fff;
}

.crumbs ul li a:hover::after {
	border-left-color: #2c3e50;
	color: #fff;
}