*{
    margin: 0;
    padding: 0;
}

.navbar{
    height: 200px;
    width: 100%;
    background: rgba(0,0,0,0.4);
}

.navbar ul{
    float: right;
}

.navbar ul li{
    list-style: none;
    margin: 60px 30px;
    display: inline-block;
    line-height: 80px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 6px 13px;
    transition: .4s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    background: red;
    opacity: 0.7;
    border-radius: 5px;
}

.logo{
    height: auto;
    width: 140px;
    padding: 20px 100px;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(../Image/ImageCDC.jpg);
    background-size: cover;
    background-position: top;
    font-family: sans-serif;
}

.CreateBox{
    width: 890px;
    height: 980px;
    padding: 50px;
    background: #000;
    border: 1px solid #cc0000;
    opacity: 0.85;   
    color: #fff;
    top: 100%;
    left: 52%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    text-align: center;
    margin-right: 20px;
    box-shadow: 5px 5px 10px black;
}

input{
    height: 30px;
    width: 300px;
    margin: 5px;
    text-align: center;    
    border: 1.5px solid #cc0000;
    outline: none; 
    border-radius: 10px;
}

h1{
    color: red;
    font-style: italic;
}

figure{
    margin: 370px;
    margin-left: 430px;
}

footer h3{
    text-align: center;
    font-weight: bold;
}

.navbarfooter ul li{
    list-style: none;
    text-align: center;
    font-weight: bold;
}

.navbarfooter #contact_urgence{
    font-size: 20px;
}

.navbarfooter ul li a{
    color: white;
    text-decoration: none;
}

footer p{
    text-align: center;
}

.navbarfooter{
    position: relative;
    position: absolute;
    bottom: -207%;
    height: 200px;
    width: 100%;
    background: rgba(0,0,0,0.4);
}

p a{
    color: red;
    text-decoration: none;
}

