*{
    margin: 0;
    padding: 0;
}

.navbar{
    height: 200px;
    width: 100%;
    background: rgba(0,0,0,0.4);
}

.navbar ul{
    float: right;
}

.navbar ul li{
    list-style: none;
    margin: 60px 30px;
    display: inline-block;
    line-height: 80px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 6px 13px;
    transition: .4s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    background: red;
    opacity: 0.7;
    border-radius: 5px;
}

.logo{
    height: auto;
    width: 140px;
    padding: 20px 100px;
}


.navbarfooter{
    position: relative;
    position: absolute;
    bottom: -460%;
    height: 200px;
    width: 100%;
    background: rgba(0,0,0,0.4);
}

.navbarfooter ul li{
    list-style: none;
    text-align: center;
    font-weight: bold;
}

footer h3{
    text-align: center;
    font-weight: bold;
}

.contact_urgence{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.navbarfooter ul li a{
    color: white;
    text-decoration: none;
}

footer p{
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(../Image/famille_details.jpg);
    background-size: cover;
    background-position: top;
    font-family: sans-serif; 
}

body form .personne{
    color: red;
    margin: 50px;
    font-style: italic;
}

body form{
    text-align: center;
}

.createinbox{
    width: 420px;
    height: 3600px;
    background: #000;
    border: 1px solid #cc0000;
    opacity: 0.85;   
    color: #fff;
    top: 280%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    text-align: center;
    box-shadow: 5px 5px 10px black;
}

form input[type="submit"]{
    background: #fb2525;
    color: #fff; 
    cursor: pointer;
} 

input{
    text-align: center;    
    border: 1.5px solid #cc0000;
    outline: none; 
    border-radius: 10px;
    width: 200px;
    height: 30px;
    margin: 5px;
}
