*{
    margin: 0;
    padding: 0;
}

.navbar{
    height: 200px;
    width: 100%;
    background: rgba(0,0,0,0.4);
}

.navbar ul{
    float: right;
}

.navbar ul li{
    list-style: none;
    margin: 60px 30px;
    display: inline-block;
    line-height: 80px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 6px 13px;
    transition: .4s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    background: red;
    opacity: 0.7;
    border-radius: 5px;
}

.logo{
    height: auto;
    width: 140px;
    padding: 20px 100px;
}

h2{
    text-align: center;
    font-style: oblique;
    font-family: "comic sans ms", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(../Image/paris.jpg);
    background-size: cover;
    background-position: top;
    font-family: sans-serif;
}
 
.loginbox{
    width: 500px;
    height: 480px;
    background: #000;
    border: 1px solid #cc0000;
    opacity: 0.85;   
    color: #fff;
    top: 75%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    text-align: center;
    box-shadow: 5px 5px 10px black;
}

.loginbox p a{
    text-decoration: none;
    color: white;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -12%;
    left: calc(50% - 50px);
}

form{
    text-align: center;
    margin-bottom: 20px;
}

input{
    text-align: center;    
    border: 1.5px solid #cc0000;
    outline: none; 
    border-radius: 10px;
    width: 200px;
    height: 30px;
}

.form1{
    color: red;
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
}

.form2{
    color: red;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}

.form1 p{    
    margin-bottom: 20px;
}

.form2 p{
    margin-bottom: 20px;
}

.form1 input[type="submit"]{
    background: #fb2525;
    color: #fff; 
    cursor: pointer;
} 

.form2 input[type="submit"]{
    background: #fb2525;
    color: #fff;  
    cursor: pointer;
} 

#create_account p {
    color: #fff;
    float: right;
    text-align: center;
}

a:link{
    text-decoration: none;
    color: red;
}

body .loginbox .login{
    color: white;
}




