{% load static %}
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Administrateur</title>
		<meta name="description" content="The Administrateur Page">
		<link rel="stylesheet" href="{% static 'CSS/admin.css' %}">
	</head>
    <header>
        <h2>Page d'administration</h2>
        <p>Bienvenue {{id_admin}}!</p>
    </header>
    <body>
		<p> Ici était la map</p>
		
		{{map|safe}}
		

		<br/> <br/>
		<h2>Aperçu des statistiques</h2>
		<h3>Analyse de la quantité de produits commandée</h3>
		<figure>
			<img src="{% static 'Image/TreeMap_Quantite-totale-produit.png' %}" alt="Treemap de la quantité de produits commandée" title="Pie chart des produits" />
			<figcaption>TreeMap mettant en valeur les produits les plus commandés</figcaption>
		</figure>
		<br/>

		<h3>Analyse de la quantité de personnes</h3>
		<figure>
			<img src="{% static 'Image/Totaux_Personnes_Courbe.png' %}" alt="Graphique de la quantité d'utilisateurs" title="Graphique quantité utilisateur" />
			<figcaption>Graphique analysant la quantité d'utilisateur du site</figcaption>
		</figure>
		<br/>

		
		<h3>Analyse de la quantité de commande</h3>
		<figure>
			<img src="{% static 'Image/Cumule-Commandes.png' %}" alt="Graphique du cumul des commandes" title="Graphique du nombre de commandes" />
			<figcaption>Graphique analysant la quantité cumulée du nombre de commande en fonction de la date</figcaption>
		</figure>
		<br/>

		<h3>Infos Entrepôts</h3>
		{{html_entrepot|safe}}
		<br/>
		
		{% autoescape off %}
		{{ map_produits }}
		{% endautoescape %}

		<h3>Total de produits commandés aujourd'hui par arrondissements</h3>
		{{orderOfTheDay|safe}}
		<br/><br/>

	</body>
</html>