{% load static %}
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Administrateur</title>
		<meta name="description" content="The Administrateur Page">
		<link rel="stylesheet" href="{% static 'CSS/admin.css' %}">
	</head>
    <header>
        <h2>Page d'administration</h2>
        <p>Bienvenue {{id_admin}}!</p>
    </header>
    <body>
		<p> Ici était la map</p>
		
		{{map|safe}}
		

		<br/> <br/>
		<h2>Aperçu des statistiques</h2>
		<h3>Analyse de la quantité de produits commandée</h3>
		<h4>Avec un histogramme</h4>
		<!-- Ici on met une figure car l'image apporte de l'information (sinon on peut mettre l'image dans une balsie paragraphe) -->
		<figure>
			<img src="{% static 'Image/Histo_Quantite-totale-produit.png' %}" alt="Histogramme de la quantité de produits commandée" title="Histogramme des produits" />
			<figcaption>Histogramme faisaint une analyse de la quantité des produits commandés</figcaption>
		</figure>

		<h4>Avec un pie chart</h4>
		<figure>
			<img src="{% static 'Image/Pie-Chart_Quantite-totale-produit.png' %}" alt="Diagramme circulaire de la quantité de produits commandée" title="Pie chart des produits" />
			<figcaption>Pie chart (diagramme circulaire) faisaint une analyse de la quantité des produits commandés</figcaption>
		</figure>

		<h4>Avec un tree map</h4>
		<figure>
			<img src="{% static 'Image/TreeMap_Quantite-totale-produit.png' %}" alt="Treemap de la quantité de produits commandée" title="Pie chart des produits" />
			<figcaption>TreeMap mettant en valeur les produits les plus commandés</figcaption>
		</figure>
		<br/>


	</body>
</html>