{% load static %}
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Administrateur</title>
		<meta name="description" content="The Administrateur Page">
		<link rel="stylesheet" href="{% static 'CSS/admin.css' %}">
	</head>
	<div class="crumbs">
		<ul>
			<li><a href="/"><i class="fas fa-home" aria-hidden="true"></i> Home</a></li>
			<li><a href="#"><i class="fas fa-portrait"> </i> Admin</a></li>
		  </ul>
	</div>
    <header>
        <h2>Page d'administration</h2>
        <p>Bienvenue {{id_admin}}!</p>
    </header>
    <body>
		
		
		

		<br/> <br/> <br/> <br/> <br/>
		<h3>Analyse de la quantité de produits commandée</h3>
		<figure>
			<img src="{% static 'Image/TreeMap_Quantite-totale-produit.png' %}" 
			alt="Treemap de la quantité de produits commandée" 
			title="Tree map des produits" 
			/>
			<br><br>
			<figcaption id = Quantprod>TreeMap mettant en valeur les produits les plus commandés</figcaption>
		</figure>
		<br/>

		<h3>Analyse de la quantité de personnes</h3>
		<figure id = Quantpers>
			<img src="{% static 'Image/Totaux_Personnes_Courbe.png' %}" alt="Graphique de la quantité d'utilisateurs" title="Graphique quantité utilisateur" />
			<br><br>
			<figcaption id = Quantpers2>Graphique analysant la quantité d'utilisateur du site</figcaption>
		</figure>
		<br/>

		
		<h3>Analyse de la quantité de commande</h3>
		<figure id = "Quantdemande">
			<img src="{% static 'Image/Cumule-Commandes.png' %}" alt="Graphique du cumul des commandes" title="Graphique du nombre de commandes" />
			<br><br>
			<figcaption id = Quantdemande2>Graphique analysant la quantité cumulée du nombre de commande en fonction de la date</figcaption>
		</figure>
		<br/>


		<h3>Infos Entrepôts</h3>
		<figure>
			{{html_entrepot|safe}}

		</figure>
		<br/>
		

		<h3>Position des entrepôts</h3>
		<figure class = Posentrepotgraph>
			{{map_entrepot|safe}}
			<br><br>
		<figcaption id = posentrepot>Carte affichant la position de chaque entrepôt dans leur arrondissement respectif : cliquez sur un marqueur pour plus de détails</figcaption> 
		</figure>



		<br>
		<h3>Infos sur produits commandés par arrondissement</h3>
		<form method="POST" action="/admin">
			{% csrf_token %}
			{{FormChoixProduit}}
			<input type="submit" name="Bouton_Choix_Produit" value="Valider">
		</form>
		<figure >
			<!--{% autoescape off %}--> <!-- semble fonctionner sans aussi -->
			{{ map_produits }}
			<!--{% endautoescape %}-->
			<br><br>
		<figcaption id=carte>Carte montrant la quantité commandée par arrondissements du produit selectionné sur les 30 derniers jours</figcaption> 
		</figure>
		<br>
		
		
		<h3>Total de produits commandés aujourd'hui par arrondissements</h3>
		{{orderOfTheDay|safe}}
		<br/><br/>

		<h3>Nombre de livraison à effectuer ce jour</h3>
		<figure >
			<!--{% autoescape off %}--> <!-- semble fonctionner sans aussi -->
			{{ map_livraison_du_jour }}
			<!--{% endautoescape %}-->
			<br><br>
		<figcaption id = livraison>Carte montrant le nombre de livraison à effectuer aujourd'hui</figcaption> 
		</figure>
		<br/><br/>


		<h3>Titre à spécifier</h3>
		<form method="POST" action="/admin">
			{% csrf_token %}
			{{FormChoixProduitCommande}}
			<input type="submit" name="Bouton_Choix_Produit_Commande" value="Valider">
		</form>
		<figure >
			<img src="{% static 'Image/HistoHorizontal_Quantite-Produit-Semaine.png' %}" 
			alt="Histogramme horizontal de la quantité commandée la semaine précédente selon les jours pour un produit" 
			title="Histogramme des quantité commandées d'un produits par jour de la semaine " 			
			/>
			<br><br>
			<figcaption id = histo>Histogramme horizontal de la quantité commandée la semaine précédente, pour un produit, selon les jours.</figcaption>		
		</figure>
		<br>


	</body>
</html>