{% load static %}
<!doctype html>

<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Formulaire Allergie</title>
        <meta name="description" content="Une page pour les commandes des personnes ayant des allergies">
        <link rel="stylesheet" href="{% static 'CSS/allergie.css' %}">
	</head>
    <header>
        <p><a href="/">Home</a> > <a href="/commande">Commande</a> > Allergie</p>
        <h1>Commande spéciales en cas d'allergie</h1>
    </header>

    <body>
        <h2>Sélectionnez les produits adaptés</h2>
    </body>