{% load static %}
<!doctype html>

<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Formulaire Allergie</title>
        <meta name="description" content="Une page pour les commandes des personnes ayant des allergies">
        <link rel="stylesheet" href="{% static 'CSS/allergie.css' %}">
        <script src="https://kit.fontawesome.com/95504e437b.js"></script>
	</head>

    <body>

        <nav class="navbar">
            <img class="logo" src="{% static 'Image/loup alpha.png' %}" />
            <ul>
              <li><a class="active" href="#">ALLERGIE(S)</a></li>
              <li><a href="/commande">COMMANDE</a></li>
              <li><a href="#contact_urgence">CONTACT URGENCE</a></li>
              <li><a href="#"> NOUS CONTACTER</a></li>
            </ul>
        </nav>

        <div class="crumbs">
          <ul>
            <li><a href="/"><i class="fas fa-home" aria-hidden="true"></i> Home</a></li>
            <li><a href="/commande"><i class="fas fa-truck"></i> Commande</a></li>
            <li><a href="#"> Allergie</a></li>
          </ul>
        </div>

        <br/>
        <br/>

        <h2>Commande spéciale en cas d'allergie</h2>

        <h2>Sélectionnez les produits adaptés</h2>

        

        <nav class="navbarfooter">
            <footer>
              
              <br/>
              <h3 id="contact_urgence">Contacts</h3>
              <br/>
              
              <ul>
                <br/>
                <li>Centre d'aide : 0 800 130 000</li>
                <li>Samu : 15</li>
                <li>Pompier : 18</li>
                <li>Police : 17</li>
                <li>Site Web <a href="https://www.gouvernement.fr/info-coronavirus">info Covid-19</a></li>
              </ul>
        
            </footer>
          </nav>

    </body>
</html>