<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Commande-Produits</title>
  </head>

  <body>
    <h2><span title="Salut!" >Bonjour {{nom_personne}}</span></h2> <!--Affichage en titre type 2-->
    <div class="d-flex justify-content-center"><h1>Commande de produits</h1></div>

    <!-- Lien pour un for en HTMl : https://docs.djangoproject.com/fr/3.0/ref/templates/builtins/#for -->
    <!-- Besoin d'un DICTIONNAIRE de produits du style 
      produit = [
        {'nom':"Pain", 'quantite_Max': "4"},
        {'nom':"Riz", 'age': "7"},
    ]
    -->
    <ul>
      {% for product in product_List %}
      <form class="form-row align-items-center">  <!-- "form-inline" -->
        <class class="my-1 mr-2" > {{ product.nom }} </class> <!-- <class class="my-1 mr-2" for="inlineFormCustomSelectPref">{{ product.nom }} <br> </class> -->
          <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
            <option selected>Quantité</option>
            <option value="0">0</option> 
            <option value="1">1</option>            
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>            
          </select>    
          <p> <br> </p>    

      {% empty %} <!-- Cas ou product_List est vide -->
          <li>Erreur. Aucun produit n'est disponible</li>
      {% endfor %}
      </form>
    </ul>
      
      <button type="button" class="btn btn-success ">Success</button>
      <br>
      <br>
      <button type="button" class="btn btn-success btn-lg btn-block">Bouton Large nommé Success</button>

  </body>
</html>





