<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Commande-Produits</title>
  </head>

  <body>

    <h3><span title="Salut!" >Bonjour {{id_personne}}</span></h3> <!--Affichage en titre type 2-->
    <h1>Commande de produits</h1>

    <form action="/commande/allergie/">
      <input type="SUBMIT" value="Besoins spéciaux (allergie)"></form>

    <br/>
    <br/>

    <!-- Lien pour un for en HTMl : https://docs.djangoproject.com/fr/3.0/ref/templates/builtins/#for -->
    <!-- Besoin d'un DICTIONNAIRE de produits du style 
      produit = [
        {'nom':"Pain", 'quantite_Max': "4"},
        {'nom':"Riz", 'age': "7"},
    ]
    -->

        <!-- Mise en place d'ID pour le CSS-->
        <h2 id="Nourriture">Produits alimentaires</h2>
        <h3 id="Condiements">Condiments</h3>
        <!-- METTRE product_List_Condiment-->
        <h3 id="Legumes">Légumes de saison</h3>
        <!-- METTRE product_List_Legume-->
        <h3 id="Fruis">Fruits de saison</h3>
        <!-- METTRE product_List_Fruit-->
        <h3 id="Conserve">Aliment ayant une longue conservation</h3>
        <!-- METTRE product_List_Conservation-->
        <h3 id="Base">Matières premières</h3>
        <!-- METTRE product_List_MatierePremiere-->
        <h3 id="Laitier_Viande">Produits laitiers et viande</h3>
        <!-- METTRE product_List_Laitier_Viande-->
        <h2 id="Hygiene">Hygiène et Santé</h2>
        <!-- METTRE product_List_HygieneSante-->
        <h2 id="Entretien">Produits d'entretien</h2>
        <!-- METTRE product_List_Entretien-->
  
    <form method="POST" action="/commande">  
      {% csrf_token %}
      {{Form_Product_List.as_p}}
      <input type="submit" name="Commande" value="Valider commande">
    </form>
    
      
    <br>
    <br>

    <footer>
      <p>{{message}}</p>

      <h3>Contacts</h3>
      <ul>
        <li>Centre d'aide : 0 800 130 000</li>
        <li>Samu : 15</li>
        <li>Pompier : 18</li>
        <li>Police : 17</li>
        <li>Site Web <a href="https://www.gouvernement.fr/info-coronavirus">info Covid-19</a></li>
      </ul>

    </footer>


  </body>
</html>





