<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Commande-Produits</title>
  </head>

  <body>

    <h3><span title="Salut!" >Bonjour {{id_personne}}</span></h3> <!--Affichage en titre type 2-->
    <h1>Commande de produits</h1>

    <form action="/commande/allergie/">
      <input type="SUBMIT" value="Besoins spéciaux (allergie)"></form>

    <br/>
    <br/>

    <!-- Lien pour un for en HTMl : https://docs.djangoproject.com/fr/3.0/ref/templates/builtins/#for -->
    <!-- Besoin d'un DICTIONNAIRE de produits du style 
      produit = [
        {'nom':"Pain", 'quantite_Max': "4"},
        {'nom':"Riz", 'age': "7"},
    ]
    -->
  
    <form method="POST" action="/commande">  
      {% csrf_token %}
      {{Form_Product_List.as_p}}
      <input type="submit" name="Commande" value="Valider commande">
    </form>
    
      
    <br>
    <br>

    <footer>
      <p>{{message}}</p>

      <h3>Contacts</h3>
      <ul>
        <li>Centre d'aide : 0 800 130 000</li>
        <li>Samu : 15</li>
        <li>Pompier : 18</li>
        <li>Police : 17</li>
        <li>Site Web <a href="https://www.gouvernement.fr/info-coronavirus">info Covid-19</a></li>
      </ul>

    </footer>


  </body>
</html>





