<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Création Compte</title>
		<meta name="description" content="The Account Creation Page">
	</head>
    <header>
        <h1>Créer votre compte</h1>
    </header>
    <body>
        <p>{{erreur}}</p>
        <form method="POST" action="/creation">
            {% csrf_token %}
            {{Form_Creation.as_p}}
            <br>
            Rajouter plan Google maps avec adresse
            Voir comment on fait pour rajouter plusieurs personnes dans le foyer tout ça, là c'est un test
            <br>
            <input type="submit" name='creation' value="Suivant">
        </form>
	</body>
</html>



