{% load static %}
<!doctype html>

<html lang="en">
    <head>
		<meta charset="utf-8">
		<title>Création Compte</title>
        <meta name="description" content="The Account Creation Page">
        <link rel="stylesheet" href="{% static 'CSS/creation.css' %}">   
        <script src="https://kit.fontawesome.com/95504e437b.js"></script>     
    </head>

    <body>
        <nav class="navbar">
            <img class="logo" src="{% static 'Image/loup alpha.png' %}" />
            <ul>
                <li><a class="active" href="#">CREATION</a></li>
                <li><a href="/">CONNEXION</a></li>
                <li><a href="#contact_urgence">CONTACT URGENCE</a></li>
                <li><a href="#"> NOUS CONTACTER</a></li>
            </ul>
        </nav>

        <div class="crumbs">
            <ul>
              <li><a href="/"><i class="fas fa-home" aria-hidden="true"></i> Home</a></li>
              <li><a href="#"><i class="fas fa-eye"> </i> Création</a></li>
            </ul>
          </div>

        <p>{{erreur}}</p>

        <div class="CreateBox">
            <br/>
            <h1>----- Créer votre compte -----</h1>
            <br> <br>
            <form method="POST" action="/creation">
                {% csrf_token %}
                {% for field in Form_Creation %}
                    {% if forloop.counter == 1 %}
                        <p>Identifiant</p>
                    {% endif %}                    
                    {% if forloop.counter == 2 %}
                        <p>Mot de passe</p>
                    {% endif %}
                    {% if forloop.counter == 3 %}
                        <p>Email</p>
                    {% endif %}
                    {% if forloop.counter == 4 %}
                        <p>Numéro téléphone</p>
                    {% endif %}
                    {% if forloop.counter == 5 %}
                        <p>Adresse</p>
                    {% endif %}
                    {% if forloop.counter == 6 %}
                        <p>Ville</p>
                    {% endif %}
                    {% if forloop.counter == 7 %}
                        <p>Code postal</p>
                    {% endif %}
                    {% if forloop.counter == 8 %}
                        <p>Latitude</p>
                    {% endif %}
                    {% if forloop.counter == 9 %}
                        <p>Longitude</p>
                    {% endif %}
                    {% if forloop.counter == 10 %}
                        <p>Nombre d'animaux</p>
                    {% endif %}
                    {% if forloop.counter == 11 %}
                        <p>Nombre de personnes dans le foyer</p>
                    {% endif %}
                    
                    {{field}}
                    <br>


                {% endfor %}
                <br>
                <p>Vous pouvez chercher la longitude et latitude de votre adresse <a href="https://www.coordonnees-gps.fr/" target="_blank">ici.</a></p>
                <br>
                <p>Une fois cela fait vous pouvez utiliser les bouton ci-dessous pour poursuivre votre création de compte ou vous assurer d'avoir entré les bonnes coordonnées GPS </p>
                <br>
                <input type="submit" name='creation' value="Continuer votre inscription">
                <input type="submit" name="bouton" value="Afficher adresse">
            </form>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>       
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <figure>

            {{map|safe}}

        </figure>

        <nav class="navbarfooter">
            <footer>
              
              <br/>
              <h3 id="contact_urgence">Contacts</h3>
              <br/>
              
              <ul>
                <br/>
                <li>Centre d'aide : 0 800 130 000</li>
                <li>Samu : 15</li>
                <li>Pompier : 18</li>
                <li>Police : 17</li>
                <li>Site Web <a href="https://www.gouvernement.fr/info-coronavirus">info Covid-19</a></li>
              </ul>
        
            </footer>
          </nav> 

	</body>
</html>



