{% load static %}
<!doctype html>

<html lang="en">
		<meta charset="utf-8">
		<title>Création Compte</title>
        <meta name="description" content="The Account Creation Page">
        <link rel="stylesheet" href="{% static 'CSS/creation.css' %}"
	</head>

    <body>
        <nav class="navbar">
            <img class="logo" src="{% static 'Image/loup alpha.png' %}" />
            <ul>
                <li><a class="active" href="#">CREATION</a></li>
                <li><a href="/">CONNEXION</a></li>
                <li><a href="#">CONTACT URGENCE</a></li>
                <li><a href="#"> NOUS CONTACTER</a></li>
            </ul>
        </nav>
        <h1>Créer votre compte</h1>

        <p>{{erreur}}</p>
        <form method="POST" action="/creation">
            {% csrf_token %}
            {{Form_Creation.as_p}}
            <br>
            <p>Vous pouvez chercher la longitude et latitude de votre adresse <a href="https://www.coordonnees-gps.fr/" target="_blank">ici !</a></p>
            <p>Une fois cela fait vous pouvez utiliser les bouton ci-dessous pour poursuivre votre création de compte ou vous assurer d'avoir entré les bonnes coordonnées GPS </p>
            <br>
            <input type="submit" name='creation' value="Continuer votre inscription">
            <input type="submit" name="bouton" value="Afficher adresse">
        </form>
        <br>
        <br>
        {{map|safe}}
	</body>
</html>



