{% for a in test %}
 {{a.nom}}
 {{a.age}}
 <p>jsidjsdjsijdsi</p>
{% endfor %}
<header>
    <h2>Appli Python</h2>
    {% if erreur %}
    <p>{{erreur}}</p>
    {% else %}
    <p>Bienvenue {{nom}}!</p>
    {% endif %}

</header>

{% if not nom %}
<form method="POST" action="/">
    {% csrf_token %}
    <input type="text" placeholder="Identifiant" name="id">
    <input type="password" placeholder="Mot de passe" name="pwd">
    <input type="submit" value="Connexion">
</form>
{% else %}
<p><a href="/">Déconnexion</a></p>
<p><a href="/commande/{{nom}}">Aller vers commande</a></p>
{% endif %}



