<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Accueil</title>
		<meta name="description" content="The Connection Page">
	</head>
    <header>
        <h2>Page d'accueil</h2>
        <h3>Bienvenue !</h3>
    </header>
    <body>
        <p>{{erreur}}</p>
        <p>Login client</p>
        <form method="POST" action="/">
            {% csrf_token %}
            <input type="text" placeholder="Identifiant" name="id_client">
            <input type="password" placeholder="Mot de passe" name="pwd_client">
            <input type="submit" name="login_client" value="Connexion">
        </form>
        <p>Login admin</p>
        <form method="POST" action="/">
            {% csrf_token %}
            <input type="text" placeholder="Identifiant" name="id_admin">
            <input type="password" placeholder="Mot de passe" name="pwd_admin">
            <input type="submit" name="login_admin" value="Connexion">
        </form>
    
        <p><a href='/creation'>Créer votre compte</a></p>
	</body>
</html>







